<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MobileApp" parallel="classes" thread-count="2" configfailurepolicy="continue">

    <listeners>
        <listener class-name="listeners.TestReportListener"/>
       <!-- <listener class-name="listeners.EmailReportListener"/>-->
    </listeners>

    <!-- Sample Tests -->
    <test name="SampleTests">
                <classes>
            <class name="tests.sample.SampleTests"/>
        </classes>
    </test>

    <!-- Android Mobile Tests (set -Dplatform=android) -->
    <test name="AndroidTests">
        <classes>
            <!-- <class name="tests.mobileTests.android.LoginTest"/> -->
        </classes>
    </test>

    <!-- iOS Mobile Tests (set -Dplatform=ios) -->
    <test name="iOSTests">
        <classes>
            <!-- <class name="tests.mobileTests.ios.LoginTest"/> -->
        </classes>
    </test>

</suite>
